body{
    font-family: 'Helvetica';
}
h1 {
    color: hotpink;
    border-bottom: 10px dotted purple;
}

h2 {
    font-style: italic;
}

h3{
    color: #999;
    }

.contact {
    background-color: #eeeeee;
    border: 7.5px solid purple;
    padding: 10px;
    list-style-position:inside ;
}

.contact a:hover {
    color: green;
}